.not-found-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.not-found-card {
  margin-bottom: 20px;
}