default: &default
  wechat:
    app:
      id: wechat_appid
      secret: wechat_secret
    host: https://api.weixin.qq.com
  queue:
    min_threads: 1
    max_threads: 50
  middleware:
    host: http://127.0.0.1:8003
  cos:
    public:
      picture: https://club-app-public-1259249016.cos.ap-beijing.myqcloud.com/images
      default_club_logo: https://club-app-public-1259249016.cos.ap-beijing.myqcloud.com/images/clubs/default.png

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
